@layer variables {
  :root {
    /* Background */
    --color-surface: #f1f5f9;
    --color-layer: #1e293b;
    --color-component: #ffffff;

    /* Brand */
    --color-primary: #004097;
    --color-accent: #f97316;

    /* Border */
    --color-line: #cbd5e1;
    --color-line-muted: #e2e8f0;

    /* Foreground */
    --color-ink: #0f172a;
    --color-ink-alt: #ffffff;
    --color-ink-muted: #475569;

    --color-link: #475569;
    --color-link-hover: #15191f;

    /* Font */
    --font-sans: "Noto Sans TC";
    --font-inter: "Inter";

    /* Text */
    --text-body: clamp(16px, 4vw, 20px);
    --text-caption: clamp(14px, 2vw, 18px);
    --text-title: clamp(28px, 6vw, 40px);
    --text-subtitle: clamp(24px, 5vw, 28px);
    --text-h3: clamp(18px, 4.5vw, 24px);
    --text-h4: clamp(16px, 4vw, 22px);
    --text-h5: clamp(14px, 3.5vw, 20px);

    /* Border Width */
    --border-thin: 1px;
    --border-medium: 2px;
    --border-thick: 4px;
  }
}

@layer theme {
  .dark {
    /* Background */
    --color-surface: #0f172a;
    --color-layer: #0a142e;
    --color-component: #1e293b;

    /* Brand */
    --color-primary: #3390ff;
    --color-accent: #f97316;

    /* Border */
    --color-line: #475569;
    --color-line-muted: #adb5bd;

    /* Foreground */
    --color-ink: #f8fafc;
    --color-ink-muted: #94a3b8;
    --color-link: #94a3b8;
    --color-link-hover: #f8fafc;
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-size: var(--text-body);
    color: var(--color-ink);
    border-color: var(--color-line);
  }

  small,
  .caption {
    font-size: var(--text-caption);
    color: var(--color-ink-muted);
  }

  h1 {
    font-size: var(--text-title);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-subtitle);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-h3);
    font-weight: 600;
  }
  h4 {
    font-size: var(--text-h4);
    font-weight: 600;
  }
  h5 {
    font-size: var(--text-h5);
    font-weight: 500;
  }

  a {
    color: var(--color-link);
    transition: color 0.2s ease-in-out;
    @apply select-none;
  }

  a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }

  a.router-link-active {
    @apply text-accent font-bold;
  }

  hr,
  .border-thin {
    border-width: var(--border-thin);
  }
  .border-medium {
    border-width: var(--border-medium);
  }
  .border-thick {
    border-width: var(--border-thick);
  }
}

@layer components {
}

@layer utilities {
}
